


.block{
    height: 100px;
    max-width: 100px;
    border-radius: 100%;
}

#block1{
    background-color: blue;
}
#block2{
    background-color: brown;
}
#block3{
    background-color: blueviolet;
}